/* Generic CSS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font: 16px sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    color: white;
    overflow: hidden;
    background-color: #00703c;
}

button, input[type="text"], input[type="number"], .select-container, select {
    color: white;
    background: #444;
    border: none;
    font-size: 14px;
    padding: 6px 8px;
    cursor: pointer;
    outline: 0;
}

.select-container {
    padding: 0;
    display: inline-block;
}

select {
    border: none;
    background: none;
    color: white;
    height: 25px;
}

input[type="text"], input[type="number"] {
    cursor: text;
}

input[type="checkbox"] {
    -webkit-filter: saturate(0);
    filter: saturate(0);
}

/* Main page CSS */

body > * {
    padding: 10px;
    position: fixed;
    overflow: scroll;
    background: #00703c;
}

header {
    width: 20vw;
    height: 20vh;
    top: 0;
    left: 30vw;
    color: white;
}

text {
    font-size: 16px;
    letter-spacing: 2px;
    stroke: none;
    fill: white;
}

/* Timer CSS */

#timer {
    font-family: monospace;
    display: block;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    height: 20vh;
    width: 30vw;
    top: 0;
    left: 0;
    font-size: 20vh;
    line-height: .8;
    background-color: #00b259;
}

/* Field CSS */

#field {
    padding: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 800px;
    height: 400px;
    overflow: hidden;
    background-color: blue;
}

/* Auto Selection CSS */



/* Camera CSS */

#camera {
    padding: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 800px;
    height: 700px;
    overflow: hidden;
    background-color: green;
}

/* Buttons CSS */

#window-buttons {
    top: 0;
    right: 0;
    position: fixed;
    color: white;
}

/* Login CSS */

#login {
    position: fixed;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8)
}

body.login #login {
    display: flex;
}

#login :disabled {
    opacity: 0.6;
}

#login > * {
    height: 40px;
}

#login > button {
    margin-left: 5px;
}